{% extends 'base.html' %}

{% block content %}

<h1>Welcome!  /  ようこそ！</h1>

 <div class="row">
  <div class="col-md-6">Welcome to our takeaway and order sushi restaurant online. We guarantee the freshest sushi every day. Take a look at our range. Enjoy your meal!</div>
  <div class="col-md-6">私たちのテイクアウトと注文の寿司レストランオンラインへようこそ。 私たちは毎日新鮮な寿司を保証します。 私達の範囲を見てください。 あなたの食事を楽しんでください。</div>

</div> 


     <div class="index-banner">
<img class="featurette-image img-responsive" src="https://raw.githubusercontent.com/nikl881/food-delivery-app/master/banner1.jpg" style= "margin-bottom: 25px" alt="main-logo">
</div>

{% endblock %}