{% extends 'base.html' %}

{% block content %}

 <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">Welcome to our takeaway and sushi restaurant. We guarantee the freshest sushi every day. Create a account, login and take a look at our menu-page to see special offers. Enjoy your meal!
  <br><br></div>
<div class="col-md-4"></div>
</div> 


     <div class="index-banner">
<img class="featurette-image img-responsive" src="https://raw.githubusercontent.com/nikl881/food-delivery-app/master/banner1.jpg"  alt="main-logo">
</div>

{% endblock %}