BzrTools==2.6.0
SecretStorage==2.0.0
argparse==1.2.1
bzr==2.7.0dev1
chardet==2.0.1
colorama==0.2.5
configobj==4.7.2
duplicity==0.6.23
html5lib==0.999
httplib2==0.8
keyring==3.5
launchpadlib==1.10.2
lazr.restfulclient==0.13.3
lazr.uri==1.0.3
lockfile==0.8
mercurial==2.8.2
oauth==1.0.1
paramiko==1.10.1
pbr==5.2.0
pycrypto==2.6.1
pygobject==3.12.0
pygpgme==0.3
python-apt==0.9.3.5ubuntu2
requests==2.2.1
simplejson==3.3.1
six==1.12.0
stevedore==1.30.1
urllib3==1.7.1
virtualenv==16.5.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
wadllib==1.3.2
wheel==0.24.0
wsgiref==0.1.2
zope.interface==4.0.5
