body {
    font-family: Arial;
    padding-top: 100px;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #fff;
    background-color: black; 
}


.container-fluid{
    background-color: black; 
}

.col-md-12 a{
    font-size: 25px; 
    font-weight: bold; 
    
}

.col-md-4{
    font-family: calibri; 
}

h3{
    color: red; 
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

.main-logo {
    margin-bottom: 25px;
}

h1, .h1 {
    color:red;
}

.navbar{
    background-image: linear-gradient(#000, #000 60%, #000);
}

/*--------------------------------------------Footer*/

footer {
    background-color: #262626;
    color: #ffffff;
    font-size: 25px;
    min-height: 120px;
    display: table;
    text-align: center; 
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    clear: both;
    height: 40px;

}
    

footer .cv-pdf i {
    color: #fafafa;
    text-align: center;
    font-size: 25px;
    padding-left: 5px;
}

footer .cv-pdf i:hover {
    color: #33ffad;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #33ffad; 
}

#footer-details {
    margin: 20px;

}

/*--------------------------------------------Media Queries*/

@media screen and (max-width:800px) {
    .second-logo {display:none}
}

@media screen and (max-width:800px) {
    .main-foto {display:none}
}

.container-fluid .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand{
    color: white; 
}
.navbar-default .navbar-brand a{
    color: white; 
}

.navbar-default .navbar-nav > li > a{
    color: white; 
}